{require_otp_vsn, "18"}.
{eunit_opts, [verbose]}.
{so_name, "esphi.so"}.

{xref_checks, [undefined_function_calls]}.

{port_sources, ["c_src/*.c"]}.

{erl_opts, [warnings_as_errors, debug_info]}.

{deps, [
%%         {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {tag, "2.0.1"}}}
       ]}.

{port_env, [
         %% Make sure to set -fPIC when compiling leveldb
             {"CFLAGS", "$CFLAGS -O2 -DNDEBUG -std=c99 -pedantic -Wall -pthread"},
             {"CXXFLAGS", "$CXXFLAGS -O2 -DNDEBUG -pedantic -Wall -pthread "},
             {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/sophia/include"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/sophia/libsophia.a"}
             ]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
